@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding:0%;
    margin:0%;
    max-width:100%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    color: #000;
    background-color: #fff;
    box-sizing: content-box;
}
/* working dark mode..... */
.dark-mode {
    background-color: rgb(13, 0, 3);
    color: #DCD6D5;

    /* color: #ff6687; */
  }
 /* loading page */
#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    /* background: white; */
    background:  rgb(13, 0, 3);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:5em; 
    height:5em;
    border:1rem solid rgb(255, 77, 118);
    border-bottom:1rem solid #33000b;
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
header {
    width: 100%;
    padding: 3% 1% 1% 1%;
    position:fixed;
    font-weight:bold;
    background:transparent;
    color:#fff;
    /* transition:0.1s ease-in-out; */
    z-index:9999;
    box-sizing: content-box;
}
header table {
    width:100%;
    /* display: inline-table; */
}

#magnify {
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.92);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20% 40%;
    color:#fff;
    transition:0.4s ease-in-out;
}
#magnify h1:hover{
    color:rgb(255, 44, 90);
    cursor:pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    margin:0% auto;
}
#logo {
    width: 100%;
    font-size:2rem;
    /* color:rgb(255, 44, 90); */
    color: transparent;
    display: inline-block;
    font-size: 2.5rem;
}
#navigation {
    width: 50%;
    text-align:center;
    font-size: 1.4rem;
}
#navigation a {
    color: #fff;
    text-decoration:none;
    /*adds spacing without extra border */
    margin:2% 1.5% 0%;
    /* padding for extra underline */
    padding: 0% 1%;
    border-bottom:.2rem solid transparent;
    /* transition:0.4s ease-in-out; */
}
#navigation a:hover{
    border-bottom:.2rem solid rgb(255, 44, 90);
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    min-width: 100px;
}

/* Dropdown button */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    color: #fff;
    background-color: #333; /* Background color of dropdown */
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(255, 44, 90); /* Change background on hover */
}
#top_part {
    width:100%;
    /* padding-left:15vh solid #fff; */
}
#top_part tr td{
    width:50%;
}
#about {
    width:100% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
    
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
    color:rgb(255, 44, 90);
}
#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:30% !important;
    text-align:left;
}
.resume {
    color:rgb(255, 44, 90);
    font-size:25px;
    padding:12px 27px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:25px 8px;
    text-align: center;
    /* width: 350px */
    width: 50px
}
.resume:hover { 
    cursor: pointer;
    color:#fff;
    background:rgb(255, 44, 90);
    box-shadow:0px 10px 30px rgba(255, 66, 107,0.8);
}
.themetoggle {
    color:rgb(255, 44, 90);
    /* font-size:33px; */
    padding:12px 20px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 0px;
}
.themetoggle:hover { 
    cursor: pointer;
    color:#fff;
    border-bottom: 2px solid transparent !important;
    background:rgb(255, 44, 90);
    box-shadow:0px 10px 30px rgba(255, 66, 107,0.8);
}
.social {
    color:rgb(255, 44, 90);
    font-size:33px;
    padding:12px 20px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 0px;
}
.social:hover { 
    cursor: pointer;
    color:#fff;
    border-bottom: 2px solid transparent;
    background:rgb(255, 44, 90);
    box-shadow:0px 10px 30px rgba(255, 66, 107,0.8);
}
.socialbig {
    color:rgb(255, 44, 90);
    font-size:43px;
    padding:12px 27px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
    text-align: center;
}
.socialbig:hover { 
    cursor: pointer;
    color:#fff;
    background:rgb(255, 44, 90);
    box-shadow:0px 10px 30px rgba(255, 66, 107,0.8);
}
.btn_one {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 44, 90);
    background:#fff;
    border:3px solid rgb(255, 44, 90);
    padding:8px 40px;
    width:35%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    box-shadow:0px 10px 30px rgba(255, 44, 90, 0.8);
    cursor:pointer;
    color:#fff;
    background:rgb(255, 44, 90);
}
.dark-mode .btn_one{
    background: #DCD6D5;
    color:rgb(13, 0, 3);
    border:3px solid rgb(13, 0, 3);
}
#rightImage {
    width:100%;
    height:95vh;
    background:linear-gradient(0deg,rgba(255, 44, 90, 0.25),rgba(2255, 44, 90, 0.25)),url("images/background.jpg") center center;
    background-size:cover;
    background-repeat:no-repeat;
}
#profilePic{
    width:200px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
#profilePic2 {
    display: none;
}

#areas {
    width:92%;
    padding:0vh 4vw;
    font-weight:bold;
    text-align: center;
    box-sizing: content-box;
}
#work {
    width:92%;
    padding: 3vh 4vw 0vh;
    font-weight:bold;
    box-sizing: content-box;
}
#work h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    width:28%; 
    box-sizing: content-box;
    /* for when it was just "work"
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    width:7%; */
}
#work h2 {
    text-align: center;
    box-sizing: content-box;
}
#photos {
    width:100%;
    columns:25vw auto;
    column-gap:4%;
    z-index:1;
    transition:0.4s ease-in-out;
}
#photos img {
    width:100%;
    height:auto;
    /* margin:4.5% 0px; */
    transition:0.4s ease-in-out;
}
#photos img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#photos a{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    text-align: center;
}  
#news {
    width:100%;
    columns:2;
    column-gap:4%;
    box-sizing: content-box;
}
/* #photos img:hover .captions {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px; 
    background: rgba(255,255,255,.8);
    color: red;
  } */
  
#bio {
    width:92%;
    padding:6% 4%;
    font-weight:bold;
    box-sizing: content-box;
}
#bio h1 {
    padding:1% 3% 0% 0%;
    border-bottom:.2rem solid rgb(255, 44, 90);
    display: inline-block;
}
#contact {
    width:92%;
    padding: 0vh 4vw 3vh;
    box-sizing: content-box;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    width:11%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px;
}
#contact form {
    width:100%;
}
#contact form input {
    width:96%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#000;
    font-weight:bold;
}
body.dark-mode #contact form input {
    color:#DCD6D5;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
}
#contact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#000;
    font-weight:bold;
}
body.dark-mode #contact form textarea {
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    color:#DCD6D5;
}
#contact form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 44, 90,1);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 44, 90,1);
}
#address {
    position:relative;
    top:-25px;
    left:30px;
    width: 80%;
}
#footer {
    border-top: 3px solid rgba(255, 44, 90,0.5);
    width:100%;
    /*padding:10vh 0px; */
    text-align:center;
    font-weight:bold;
}
#footer a {
    color:rgb(255, 44, 90);
    text-decoration:none;
}
::placeholder {
    color:#000;
}
body.dark-mode ::placeholder {
    color:#DCD6D5;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.success {
    color:rgba(255, 44, 90, 0.8);
    text-align: center;
    font-weight: bold;
    font-size:14px;
}

@media screen and (max-width: 1000px){
      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      .column {
        width: 100%;
        margin: 0%;
        padding: 0%;
      }
    }
@media screen and (max-width: 1000px){
    #photos {
    columns:1;
    column-gap:0%;
    }
    #photos img {
        margin:0% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #news {
        columns:1;
        column-gap:0%;
    }
    #rightImage {
        display:none;
        width: 100% !important;
    }
    #profilePic2 {
        width:200px;
        height:200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
    #top_part {
        width:100%;
	background:linear-gradient(0deg,rgba(255, 44, 90, 0.25),rgba(2255, 44, 90, 0.25)),url("images/background.jpg") center center;
    	background-size:cover;
    	background-repeat:no-repeat;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:100% !important;
        height:95vh;
        font-size: 30px;
        font-size: 2.5vw;
        padding-top:15vh !important;
        display:block;
        /* padding-bottom:15vh !important; */
        text-align:center;
        padding: 0%;
        /* padding:0px 10%; */
	    color: white;
        margin: 0%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about h1 {
        font-size: 2rem;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
    /* padding:6px 30px; */
    width:60%;
    margin:4vh auto;
    box-shadow:0px 10px 20px rgba(255, 44, 90, 0.8);
    background:rgb(255, 44, 90);
    color:#fff;
    }
    .btn_one:hover {
        box-shadow:0px 10px 40px rgba(255, 44, 90, 0.8);
        cursor:pointer;
    }
    #contact table tr td {
        width:100%;
        display:block;
    }
    /* #inner_table tr td{
        padding:50px 0px !important;
    } */
    #contact form input {
        width:90%;
    }
    #contact form textarea {
        width:90%;
    }
    #work h1 {
        width:75%
        /* width:30%; */
    }
    #bio h1 {
        width:25%;
    }
    #contact h1 {
        width:33%;
    }
    #logo {
        display: none !important;
    }
    header {
        width:95%;
        background-color:#fff;
        padding:5% 2.5% 1% !important;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        /* display:block; */
        text-align:center;
        /* padding:5px 0px; */
    }
    .dark-mode header {
        background-color: rgb(13, 0, 3);
        color: #DCD6D5;
    }
    #navigation {
        font-size: inherit;
    }
    #navigation a {
        color:#000;
        margin:2% 1% 0%;
    }
    .dropdown-content {
        display: block; 
        /* display: none; */
        position: absolute;
        color:#fff; 
        background-color: #333; /* Background color of dropdown */
        min-width: 160px;
        z-index: 1;
    }
    .dark-mode #navigation a {
        color: #DCD6D5;
    }
    .socialbig {
        padding:0px 0px;
    }

    #inner_table tr td {
        padding: 0px 0px;
    }
}

/*  Iframe copy  */
/* element.style {
    height: 140px;
    padding-bottom: 0;
} */
.iframely-responsive {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    box-sizing: border-box;
}
.iframely-responsive>* {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
    box-sizing: border-box;
}
style {
    display: none;
}
/*  from class body */
element.style {
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.76);
}
/* net chunk */
.__wc {
    --pos: 14px;
    --pop: 8px;
}
._lh14 {
    line-height: 1.4;
}
._sc, ._sm {
    background: var(-dc);
    border: var(--fbw,0) solid var(--fbc,transparent);
    border-radius: var(--fbr,0);
}
.t, .w, .wf {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}
.w {
    line-height: 1.4;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.w, .body2 {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: none transparent;
    text-align: left;
    background-color: var(--bc);
}
._tha {
    --bc: #000;
    --dc: #fff;
    --hc: #fff;
    --mc: #808080;
    --wc: #808080;
    --fbc: #333;
    --pc: #808080;
}

/* chunk */
._lc .wf {
    flex-direction: row;
}
.t, .w, .wf {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

/* chunk */
._lc._sm:not(.xd) .wc {
    min-width: 100px;
    width: 100px;
    min-height: 100px;
}

.wc, .wt {
    overflow: hidden;
    
}

/* e */
element.style {
    padding-bottom: 133.8000%;
}
.e {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.e {
    padding-bottom: 133.8%;
}

/* em */
.em {
    position: absolute;
    width: 100%;
    height: 100%;
}



/*a chunck  */
element.style {
    background-image: url(//iframely.net/mcytOTI/thumbnail);
}

.c {
    z-index: 20;
}

.c {
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
}

.c, .co {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* wt */
._p .wt {
    position: relative;
    overflow: initial;
}

._lc .wt {
    display: flex;
    flex: 1;
    align-items: center;
}

.wt {
    padding: 8px 10px;
}

.wc, .wt {
    overflow: hidden;
}
.__wc {
    --pos: 14px;
    --pop: 8px;
}

._lh14 {
    line-height: 1.4;
}
._p:not(._rtl) .t {
    padding-right: var(--pos);
}

.t {
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--dc);
}

.t, .w, .wf {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

/*  */
._lc._ap:not(._ts)._lh14 .th {
    max-height: 4.2em;
}

._lc._ap:not(._ts) .th {
    -webkit-line-clamp: 3;
}

._f1p, ._f2p {
    font-size: 13px;
}

._fsn {
    font-style: normal;
}

._fwb {
    font-weight: 700;
}

.tf, .th {
    margin-bottom: 0.5em;
    margin-right: 0.8em;
}

.td, .th {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.th a{
    color: var(--hc);
    text-decoration-color: rgb(255, 255, 255); 
    text-decoration-line: none; 
    text-decoration-style: solid; 
    text-decoration-thickness: auto; 
    touch-action: manipulation;
    cursor: pointer; 
    display: inline; 
    font-family: -apple-system system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;                                    
    font-size: 1.3em; 
    font-style: normal; 
    font-weight: 700; 
    height: auto; 
    hyphens: auto; 
    line-height: 1; 
    overflow: hidden;
    overflow-wrap: break-word; 
    text-overflow: ellipsis;
    text-align: left;
}

/* ts */
._lc._ap:not(._ts)._lh14 .td {
    max-height: 2.8em;
}

._lc._ap:not(._ts) .td {
    -webkit-line-clamp: 2;
}

.td {
    margin-bottom: 0.6em;
    vertical-align: inherit;
}

/*  */
._od .td:last-child, ._od .tf:last-child, ._od .th:last-child {
    margin-bottom: 0!important;
}

.tf {
    display: flex;
    align-items: center;
    color: var(--mc);
}

.tf, .th {
    margin-bottom: 0.5em;
}

._fsn {
    font-style: normal;
}

._fwn {
    font-weight: 400;
}

._ffsa {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.t {
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--dc);
    line-height: 1.4;
}

.tc {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
._f0, ._f1m, ._f2m, ._f3m {
    font-size: 1em;
    line-height: 1.4;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    color: var(--dc);
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.tw {
    color: var(--wc);
}
*, ::after, ::before {
    box-sizing: border-box;
}

/* START CITATION STYLE */
.citation {
    margin-bottom: 20px;
}
.title {
    font-weight: bold;
}
.authors {
    font-style: italic;
}
.journal {
    font-style: italic;
}
.volume {
    font-weight: bold;
}
.pages {
    font-style: italic;
}
.year {
    font-weight: bold;
}
/* END CITATION STYLE */